.about__description {
  width: 100%;
  min-width: 100vw;
  padding: 5vw;
  height: 100vh;
  background-color: #171717;
  display: flex;
  gap: 20px;
  // position: absolute;
  margin-top: 100vh;
  z-index: 2;

  .description__img {
    height: 100%;
    border-bottom: solid white 10px;
  }

  .description__info {
    width: auto;
    border-top: solid white 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 24px;
    padding-top: 48px;
  }
  .description__info::-webkit-scrollbar {
    display: none;
  }

  .info__text {
    line-height: 50px;
    font-family: var(--body-font-video);
    font-size: 3rem;
    font-weight: var(--font-light);

    @media screen and (max-width: 1400px) {
      font-size: 28px;
    }
  }
}

// .about__separator {
//   width: 100%;
//   padding: 0 0 0 5vw;
//   height: auto;
//   background-color: #171717;
//   display: flex;

//   .separator_title {
//     border-bottom: solid white 12.5px;
//   }

//   .separator_svg {
//     left: -1px;
//     align-self: flex-end;
//     position: relative;
//   }
//   .separator_final-line {
//     width: 100%;
//     height: 25px;
//     left: -2px;
//     border-top: solid white 12.5px;
//     align-self: flex-end;
//     position: relative;
//   }
// }



.about__services {
  width: 100%;
  padding: 5vh 0 16vh 5vw;
  height: auto;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // position: absolute;
  // margin-top: 207vh;
  z-index: 2;
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(23, 23, 23) 100%);
    width: 90vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .service {
    display: flex;
    position: relative;

    &.animate {
      p {
        border-bottom: solid white 2px;

        &::after {
          content: "";
          width: 100%;
          background-color: black;
          height: 2px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          animation: lines_spin_power_up_right 2s .2s ease forwards;
        }

        @keyframes lines_spin_power_up_right {
          to {
            width: 0;
          }
        }
      }
    }

    p {
      width: 100%;
      border-bottom: solid white 2px;
      font-family: var(--body-font-video);
      font-size: var(--medium-font-size);
      font-weight: var(--font-light);
      padding-bottom: 16px;
    }

    // img {
    //   max-width: 30%;
    //   left: -1px;
    //   align-self: flex-end;
    //   position: relative;
    // }

    // .service__separator_final-line {
    //   width: 100%;
    //   height: 18.5px;
    //   left: -2px;
    //   border-top: solid white 9px;
    //   align-self: flex-end;
    //   position: relative;
    // }
  }
}

.separator-container-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2vh 0 2vh 5vw;
  background-color: #171717;

  .separator-box {
    display: flex;
  }

  .separator-about-title {
    font-family: var(--body-font-video);
    font-size: var(--h3-font-size);
    padding-bottom: 32px;
  }

  .separator-1 {
    align-self: flex-end;
    position: relative;
  }

  .separator-2 {
    align-self: flex-end;
    position: relative;
    left: -5px;
  }

  .separator-3 {
    align-self: flex-start;
    position: relative;
    left: -10px;
    visibility: hidden;
  }
}

.separator_services {
  // margin-top: 194vh;
  z-index: 2;

}

.separator_clientes {
  position: absolute;
  // margin-top: 285vh;
  z-index: 2;

}

.about__clients {
  width: 100%;
  padding: 16vh 5vw;
  height: auto;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  gap: 60px;
  // position: absolute;
  // margin-top: 298vh;
  z-index: 2;
  overflow-x: hidden;

  p {
    font-family: var(--body-font-video);
    font-size: var(--medium-font-size);
    font-weight: var(--font-light);
  }

  // .clients__grid {
  //   display: grid;
  //   height: auto;
  //   grid-template-rows: repeat(3, 1fr);
  //   gap: 50px;

  //   .clients__row {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }
  .clients__grid {
    display: grid;
    height: auto;
    // padding: 0px;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    padding-top: 80px;

    .clients-grid-item {
      // width: fit-content;
      background-color: #171717;
    }

    .clients-grid-item.extra-big {
      transform: scale(1.4);
    }
    .clients-grid-item.big {
      transform: scale(1.1);
    }

    img {
      width: 150px;
      height: 200px;

      background-color: transparent;
      transform: scale(0.9);
      filter: saturate(0) brightness(1);
    }
  }
}

@media screen and (max-width: 1300px) {
  .about__description {
    height: 70vh;

    .description__img {
      height: auto;
    }

    .description__info {
      overflow-y: scroll;
    }

    .info__text {
      line-height: 30px;
      font-size: var(--small-font-size);
    }
  }

  .about__services {
    padding: 5vh 0 8vh 5vw;
    .service {
      p {
        font-size: var(--normal-font-size);
      }

      // img {
      //   left: -1px;
      //   align-self: flex-end;
      //   position: relative;

      //   // transform-origin: 0;
      //   // transform: scaleX(0.9);
      // }

      .service__separator_final-line {
        width: 150%;
        height: 18.5px;
        // left: -20px;
        border-top: solid white 9px;
      }
    }
  }

  .separator-container-about {
    .separator-about-title {
      font-size: var(--medium-font-size);
    }

    .separator-box {
      transform-origin: 0;
      transform: scaleX(0.9);
    }

    .separator-1 {
      align-self: flex-end;
      position: relative;
    }

    .separator-2 {
      align-self: flex-end;
      position: relative;
      left: -5px;
    }

    .separator-3 {
      align-self: flex-start;
      position: relative;
      left: -10px;
      visibility: hidden;
    }
  }

  .about__clients {
    padding: 16vh 5vw;
    gap: 50px;

    p {
      font-size: var(--normal-font-size);
    }

    .clients__grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      img {
        max-width: 180px;
        transform: scale(0.7);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about__description {
    height: 60vh;

    .description__img {
      max-width: 400px;
      height: auto;
    }

    .info__text {
      line-height: 30px;
      font-size: var(--small-font-size);
    }
  }

  .about__services {
    .service {
      p {
        font-size: var(--small-font-size);
      }

      // img {
      //   left: -1px;
      //   align-self: flex-end;
      //   position: relative;

      //   // transform-origin: 0;
      //   // transform: scaleX(0.9);
      // }

      // .service__separator_final-line {
      //   width: 150%;
      //   height: 18.5px;
      //   // left: -20px;
      //   border-top: solid white 9px;
      // }
    }
  }

  .separator-container-about {
    padding: 4vh 0 4vh 5vw;

    // .separator-about-title {
    //   font-size: var(--medium-font-size);
    // }

    // .separator-box {
    //   transform-origin: 0;
    //   transform: scaleX(0.9);
    // }

    // .separator-1 {
    //   align-self: flex-end;
    //   position: relative;
    // }

    // .separator-2 {
    //   align-self: flex-end;
    //   position: relative;
    //   left: -5px;
    // }

    // .separator-3 {
    //   align-self: flex-start;
    //   position: relative;
    //   left: -10px;
    //   visibility: hidden;
    // }
  }

  .about__clients {
    padding: 18vh 5vw;
    gap: 30px;

    p {
      font-size: var(--small-font-size);
    }

    .clients__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      img {
        height: 155px;
        max-width: 180px;
        transform: scale(0.7);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .about__description {
    height: 45vh;

    .description__img {
      max-width: 250px;
      height: auto;
    }

    .description__info {
      padding-top: 24px;
    }

    .info__text {
      line-height: 25px;
      font-size: var(--smaller-font-size);
    }
  }

  .about__services {
    .service {
      p {
        font-size: var(--small-font-size);
      }


      // img {
      //   left: -1px;
      //   align-self: flex-end;
      //   position: relative;

      //   // transform-origin: 0;
      //   // transform: scaleX(0.9);
      // }

      // .service__separator_final-line {
      //   width: 130%;
      //   height: 18.5px;
      //   // left: -20px;
      //   border-top: solid white 9px;
      // }
    }
  }

  .separator-container-about {
    padding: 4vh 0 4vh 5vw;

    .separator-about-title {
      font-size: var(--medium-font-size);
    }

    .separator-box {
      transform-origin: 0;
      transform: scaleX(0.7);
    }
  }

  .about__clients {
    padding: 18vh 5vw;
    gap: 30px;

    p {
      font-size: var(--smaller-font-size);
    }

    .clients__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      img {
        max-width: 110px;
        // transform: scale(0.6);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .about__description {
    height: 35vh;

    .description__img {
      max-width: 200px;
      height: auto;
    }

    .info__text {
      line-height: 20px;
      font-size: var(--tiny-font-size);
    }
  }

  .about__services {
    padding: 4vh 0 4vh 5vw;
    .service {
      p {
        font-size: var(--tiny-font-size);
      }

      &::after {
        content: "";

        width: 50vw;

      }

      // img {
      //   left: -1px;
      //   align-self: flex-end;
      //   position: relative;

      //   // transform-origin: 0;
      //   // transform: scaleX(0.9);
      // }

      // .service__separator_final-line {
      //   width: 130%;
      //   height: 18.5px;
      //   // left: -20px;
      //   border-top: solid white 9px;
      // }
    }
  }

  .separator-container-about {
    .separator-about-title {
      font-size: var(--normal-font-size);
    }

    .separator-box {
      transform-origin: 0;
      transform: scaleX(0.6);
    }
  }

  .about__clients {
    padding: 18vh 5vw 8vh 5vw;
    gap: 30px;

    p {
      font-size: var(--tiny-font-size);
    }

    .clients__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      img {
        max-width: 80px;
        // transform: scale(0.6);
      }
    }
  }
}
