.clients {
  width: 100%;
  height: 325px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 75px;

  .slider {
    height: 190px;
    width: 100%;
    margin-bottom: 58px;
    // margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide-track {
    height: 100%;
    display: flex;
    width: calc(1640px * 18);
    gap: 127px;
    align-items: center;
    animation: scroll 40s linear infinite;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100px * 9));
    }
  }

  .slide {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }

  img {
    width: 100%;
    transition: 1s;
  }

  img:hover {
    transform: translateZ(20px);
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgb(59, 58, 58, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }
}
