.footer {
  width: 100%;
  height: 637px;
  background-color: black;
  color: white;
  padding: 105px 0;

  .section_footer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .footer_logo {
      max-width: 158px;
    }

    .footer__info {
      display: flex;
      justify-content: space-between;
    }

    .footer__projects {
      font-size: var(--small-font-size);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .contact__form {
      width: 346px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      input,
      textarea {
        border-color: transparent;
        font-size: var(--smaller-font-size);
        width: 100%;
        background: none;
        resize: none;
        padding-bottom: 15px;
      }

      .contact__form-div {
        width: 100%;
        border-bottom: solid 3px white;
      }

      .form-area {
        display: flex;

        button {
          display: flex;
          background-color: transparent;
        }

        img {
          align-self: center;
        }
      }
    }

    .footer__social {
      h4 {
        padding-bottom: 13.5px;
      }

      img {
        padding-bottom: 43.7px;
      }
    }

    .social__links {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .social__icons {
      display: flex;
      gap: 26.16px;
      .social-link {
        color: white;
      }
    }
  }

}

@media screen and (max-width: 1000px) {
  .footer {
    height: auto;
    padding-bottom: 64px;
    .section_footer {
      display: flex;
      flex-flow: column wrap;

      .footer__info {
        flex-flow: column;
        grid-gap: 64px;
      }
    }
  }
}