.header {
  width: 100%;
  background-color: black;

  font-size: var(--small-font-size);

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    z-index: 2000;
    background: black;
    box-shadow: 0 0 5px black;
    padding: 0 5vw 0 5vw;
  }

  .navbar__brand {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 35px;
    font-size: var(--small-font-size);

    .navbar__logo {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      top: 3px;
      
    }
  }


  .navbar__list {
    display: flex;
    gap: 20px;
  }

  .navbar__list__item {
    color: white;
    cursor: pointer;

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .navbar__list__lenguage {
    display: flex;
    gap: 5px;

    button {
      background-color: transparent;
      color: white;
      font-size: var(--small-font-size);
    }

    .lenguage_active {
      width: 100%;
      border-bottom: solid 3px white;
    }
  }

  .navbar__toggle,
  .navbar__close {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 900px) {
  .header {
    font-size: var(--smaller-font-size);
  }
  .navbar__brand {
    p {
      font-size: var(--smaller-font-size);
    }
  }
}

@media screen and (max-width: 720px) {
  .navbar__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100px;
    background-color: black;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 0 1.5rem;
    transition: 0.3s;
  }

  /*Show Menu*/

  .show-menu {
    right: 0;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    padding-top: 9vh;
    gap: 2rem;

    .navbar__list__item {
      color: white;
    }
  }

  .navbar {
    .navbar__list__lenguage {
      button {
        font-size: var(--tiny-font-size);

      }
    }
    .navbar__close {
      display: block;
      position: absolute;
      right: 1.3rem;
      bottom: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .navbar__toggle {
      display: block;
      // font-size: 1.1rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 375px) {
  .navbar__brand {
    gap: 5px;
    img {
      scale: 0.8;
    }
  }
}
