.main_social_icons {
  .social__icons {
    position: fixed;
    right: 1vw;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    z-index: 10;

    .social-link {
      color: white;
    }
  }

  .whatsapp_icon {
    position: fixed;
    right: 1vw;
    bottom: 100px;

    .social-link {
      color: white;
    }
  }
}
