.main_social_icons {
  .social__icons {
    position: fixed;
    right: 2vw;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    z-index: 10;
    animation: toggleIconsIn 1000ms;

    .social-link {
      color: white;
      width: 32px;
      img {
        width: 32px;
      }
    }
  }

  .whatsapp_icon {
    position: fixed;
    right: 1vw;
    bottom: 100px;

    .social-link {
      color: white;
      img {
        width: 40px;
      }
    }
  }
}

.main_social_icons__toggle {
  display: none;

}

@keyframes toggleIconsIn{
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}