.content {
  z-index: 200;
  position: absolute;
  background: transparent;
}
.section_1__video {
  background-color: black;
  width: 100%;
  margin-top: 71.45px;
  width: auto;
  height: 100vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;

  // scroll snap first test
  scroll-snap-type: x mandatory;
  // max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-align: start;
  scroll-margin-top: 10px;
  // scroll snap first test
}

.section_1__info {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw;
  // position: absolute;
  margin-top: 100vh;
  z-index: 2;
  gap: 64px;

  //scroll snap first test
  scroll-snap-type: x mandatory;
  // height: 100vh;
  // min-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-align: start;
  //scroll snap first test
}

.section_1__info::-webkit-scrollbar {
  display: none;
}

.section_1__text {
  font-family: var(--body-font-video);
  font-size: var(--big-font-size);
  line-height: 96.88px;
  max-height: 30vh;
  overflow-y: scroll;

  //scroll snap first test
  scroll-snap-align: start;
  //scroll snap first test
}

.section_1__text::-webkit-scrollbar {
  display: none;
}

.section_1__img {
  max-width: 534.89px;
  display: flex;
  align-self: self-end;
}


//RESPONSIVE

@media screen and (max-width: 1300px) {
  .section_1__text {
    font-size: var(--h3-font-size);
  }
}

@media screen and (max-width: 900px) {
  .section_1__info {
    gap: 64px
  }
  .section_1__text {
    font-size: var(--medium-font-size);
    line-height: inherit;
  }

  .section_1__img {
    scale: 0.8;
    display: flex;
    align-self: self-end;
  }
}

@media screen and (max-width: 720px) {
  .section_1__info {
    margin-top: 100vh;
    gap: 64px

  }
  .section_1__text {
    height: auto;
    font-size: var(--normal-font-size);
  }
  .section_1__img {
    scale: 0.65;
    display: flex;
    align-self: center;
  }
}

@media screen and (max-width: 375px) {
  .section_1__info {
    margin-top: 100vh;
    grid-gap: 15px;
  }
  .section_1__text {
    font-size: var(--small-font-size);
  }
  .section_1__img {
    scale: 0.5;
  }
}
