.section_2 {
  position: relative;
}
.section_2__title {
  width: 100%;
  background-color: #171717;
  // position: absolute;
  // top: 162vh;
  z-index: 2;
  padding: 2vh 5vw;
  // margin-bottom: 50px;
}

.section_2__list {
  width: 100%;
  // position: absolute;
  background-color: #171717;
  // top: 178vh;
  z-index: 2;
  padding: 2vh 5vw;
  display: flex;
  gap: 20px;
  align-items: center;

  //scroll snap first test
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  //scroll snap first test

  li {
    display: flex;
    font-size: var(--normal-font-size);

    button {
      background-color: transparent;
      color: white;
      margin-left: 20px;
    }

    .active-button {
      width: 100%;
      border-bottom: solid 3px white;
    }
  }

  button:hover {
    width: 100%;
    border-bottom: solid 3px white;
  }
}

.section_2__videos {
  width: 100%;
  // position: absolute;
  background-color: #171717;
  z-index: 2;
  padding: 5vw;
  max-height: 90vh;
  grid-gap: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    right: 5vw;
    bottom: 4.9vw;
    width: 27vw;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(23 23 23) 100%);
    pointer-events: none;
  }

  .video-container {
    max-height: 50vh;
    overflow: hidden;
  }

  .main_video {
    min-width: 50%;
    background-color: black;
    border-bottom: solid 15px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 16px;

    video {
      width: 100%;
      height: auto;
    }

    .video_text_container {
      align-self: flex-end;
      position: relative;
      display: flex;
      flex-flow: column;
    }

    .video-logo {
      width: 64px;
    }

    .main_video__text {
      // height: fit-content;
      font-size: var(--medium-font-size);
      font-family: var(--body-font-video);
      font-weight: var(--font-semi-bold);
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      margin-top: 16px;
    }
    .main_video__text::after {
      content: "";
      // position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    .main_video__text::-webkit-scrollbar {
      display: none;
    }

    .main_video__year {
      display: flex;
      gap: 16px;
      position: absolute;
      bottom: 8px;
    }
  }

  .other_videos {
    max-width: 536px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    gap: 20px;

    .secondary_video {
      width: 100%;
      height: 500px;
      background-color: black;
      border-bottom: solid 10px white;

      //scroll snap first test
      scroll-snap-type: x mandatory;
      scroll-snap-align: start;
      //scroll snap first test

      padding-bottom: 16px;

      .secondary-video_text_container {
        position: relative;
        padding: 10px 20px 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .secondary_video__logo {
        width: 64px;
      }

      video {
        max-height: 300px;
      }

      video:hover {
        cursor: pointer;
      }

      .video-clasification {
        font-size: var(--smaller-font-size);
      }

      &__text {
        height: 73px;
        font-family: var(--body-font-video);
        font-weight: var(--font-semi-bold);
        overflow-y: hidden;
        max-height: 300px;
        overflow: scroll;
      }

      &__year {
        display: flex;
        gap: 16px;
        font-size: var(--tiny-font-size);

        .secondary_video__cube {
          width: 15px;
        }
      }
    }
  }


  .other_videos::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .section_2__title {
  }

  .section_2__list {
  }


  .section_2__videos {

    max-height: 80vh;
    grid-gap: 32px;
    flex-flow: column;
    height: 100%;
    max-height: none;
    padding: 8vw;

    .other_videos {
      flex-flow: column;
      max-width: none;
      width: 100%;
      grid-gap: 64px;

      .secondary_video {
        height: auto;

        .video-clasification {
          font-size: var(--normal-font-size);
        }

        video {
          max-height: none;
        }
        &__text {
          font-size: var(--medium-font-size);
          height: auto;
          margin-bottom: 24px;
        }
        &__year {
          font-size: var(--normal-font-size);

          img {
            scale: 2;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 900px) {
//   .section_2 {
//     h1 {
//       font-size: var(--h2-font-size);
//     }
//     .section_2__title {
//       margin-bottom: 20px;
//     }
//   }
// }

// @media screen and (max-width: 720px) {
//   .section_2 {
//     h1 {
//       font-size: var(--h3-font-size);
//     }
//     &__list {
//       button {
//         font-size: var(--small-font-size);
//       }
//     }
//     .main_video {
//       .video-clasification {
//         font-size: var(--small-font-size);
//       }

//       &__text {
//         font-size: var(--normal-font-size);
//       }
//       &__year {
//         font-size: var(--small-font-size);

//         img {
//           scale: 0.8;
//         }
//       }
//     }

//     .other_videos {
//       grid-gap: 50px;

//       .secondary_video {
//         .video-clasification {
//           font-size: var(--small-font-size);
//         }

//         &__text {
//           font-size: var(--normal-font-size);
//         }
//         &__year {
//           font-size: var(--small-font-size);

//           img {
//             scale: 1.7;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 375px) {
//   .section_2 {
//     h1 {
//       font-size: var(--h4-font-size);
//     }
//     &__list {
//       button {
//         font-size: var(--smaller-font-size);
//       }
//     }
//     .main_video {
//       grid-gap: 15px;
//       margin-bottom: 0px;
//       .video-clasification {
//         font-size: var(--smaller-font-size);
//       }

//       &__text {
//         font-size: var(--small-font-size);
//       }
//       &__year {
//         font-size: var(--smaller-font-size);

//         img {
//           scale: 0.8;
//         }
//       }
//     }

//     .other_videos {
//       grid-gap: 25px;

//       .secondary_video {
//         .video-clasification {
//           font-size: var(--smaller-font-size);
//         }

//         &__text {
//           font-size: var(--small-font-size);
//         }
//         &__year {
//           font-size: var(--smaller-font-size);

//           img {
//             scale: 1.7;
//           }
//         }
//       }
//     }
//   }
// }
