.section_2 {
  width: 100%;
  height: 1377px;
  background-color: #171717;
  padding: 50px 0 85px 0;

  .section_2__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    margin-top: 50px;
    padding-bottom: 36px;
    gap: 20px;

    li {
      font-size: var(--normal-font-size);
      
      button {
        background-color: transparent;
        color: white;
      }

      .active-button {
        width: 100%;
        border-bottom: solid 3px white;
      }
    }
  }

  &__videos {
    width: 100%;
    max-height: 988px;
    grid-gap: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .main_video {
      width: 100%;
      background-color: black;
      border-bottom: solid 15px white;

      video {
        height: auto;
      }

      &__text {
        height: fit-content;
        font-size: var(--medium-font-size);
        font-family: var(--body-font-video);
        font-weight: var(--font-semi-bold);
        overflow-y: hidden;
      }

      &__year {
        display: flex;
        gap: 10px;
      }
    }

    .other_videos {
      max-width: 536px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      gap: 20px;

      .secondary_video {
        width: 100%;
        height: 500px;
        background-color: black;
        border-bottom: solid 10px white;

        video {
          height: 300px;
        }

        .video-clasification {
          font-size: var(--smaller-font-size);
        }

        &__text {
          height: 73px;
          font-family: var(--body-font-video);
          font-weight: var(--font-semi-bold);
          overflow-y: hidden;
        }

        &__year {
          display: flex;
          gap: 10px;
          font-size: var(--tiny-font-size);
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .section_2 {
    max-height: none;
    height: 100%;
    &__videos {
      display: flex;
      flex-flow: column;
      height: 100%;
      max-height: none;
    }

    .main_video {
      margin-bottom: 64px;

      &__text {
        margin-bottom: 24px;
      }
    }
    .other_videos {
      display: flex;
      flex-flow: column;
      max-width: none;
      width: 100%;
      grid-gap: 64px;

      .secondary_video {
        height: auto;
        &__text {
          font-size: var(--medium-font-size);
          height: auto;
          margin-bottom: 24px;
        }
      }
    }
  }
}
