@import "header";
@import "main_social_icons";
@import "section_1";
@import "section_2";
@import "clients";
@import "work";
@import "about";
@import "footer";

/*GOOGLE FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Inter&family=Poppins:wght@400;500;600&family=Rubik:wght@300;400;500&display=swap");

/*VARIABLES CSS*/

:root {
  --header-height: 3rem;

  /*Colors*/
  /*Color mode HSL( Hue, Saturation, Lightness*/

  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --text-color: white;
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*Font and typography*/

  --body-font: "Inter", sans-serif;
  --body-font-video: "Cormorant Garamond", serif;

  --big-font-size: 8rem;
  --h1-font-size: 7rem;
  --h2-font-size: 6rem;
  --h3-font-size: 5rem;
  --medium-font-size: 4rem;
  --normal-font-size: 3rem;
  --small-font-size: 2.4rem;
  --smaller-font-size: 1.6rem;
  --tiny-font-size: 1.4rem;

  /*Font weight*/

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*BASE*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
}

body {
  background-color: black;
  color: var(--text-color);
}

// h1,
// h2,
// h3 {
//   color: var(--title-color);
//   font-weight: var(--font-semi-bold);
// }
h1 {
  font-size: var(--h1-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-normal);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*LAYOUT*/

.home-loader {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    max-width: 200px;
  }
}

.animated-logo {
  width: 100px;
}

.home_container, .work_container {
  position: relative;
  background: #171717;

}

.video_text_container {
  padding: 32px 16px 72px;
}

.secondary-video_text_container {
  position: relative;
  padding: 10px 20px 10px 20px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* SEPARATOR */

.separator-container-1 {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  align-self: flex-start;
  padding: 2vh 0 2vh 5vw;
  background-color: #171717;
  z-index: 2;

  .separator-1 {
    align-self: flex-end;
    position: relative;
  }

  .separator-2 {
    align-self: flex-end;
    position: relative;
    left: -5px;
  }

  .separator-3 {
    align-self: flex-start;
    position: relative;
    left: -10px;
    visibility: hidden;
  }
}

.separator-container-2 {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  padding: 2vh 0 2vh 5vw;
  background-color: black;


  .separator-1 {
    align-self: flex-end;
    position: relative;
  }

  .separator-2 {
    align-self: flex-end;
    position: relative;
    left: -5px;
  }

  .separator-3 {
    align-self: flex-start;
    position: relative;
    left: -10px;
    visibility: hidden;
  }
}

  
.separator-container-2_home {
  z-index: 2;
}
.separator-container-2_about {
  z-index: 2;
}

.separator-3.separator-3__expand {
  visibility: visible;
  animation: expand 1000ms forwards;
  transform-origin: left;
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* SCROLL-SNAP */

// .mandatory-scroll-snapping {
//   scroll-snap-type: y mandatory;
// }

@media screen and (max-width: 1300px) {
  .separator-container-1 {
    top: 168vh;
  }
  .separator-container-2 {
    top: 304vh;
  }
}

@media screen and (max-width: 900px) {
  .separator-container-1 {
    img {
      transform-origin: 0;
      transform: scaleX(0.8);
    }

    .separator-2 {
      left: -42px;
    }

    .separator-3 {
      left: -85px;
    }
  }

  .separator-container-2 {
    img {
      transform-origin: 0;
      transform: scaleX(0.8);
    }

    .separator-2 {
      left: -42px;
    }

    .separator-3 {
      left: -85px;
    }
  }
}

@media screen and (max-width: 720px) {
  .separator-container-1 {
    img {
      transform-origin: 0;
      transform: scaleX(0.5);
    }

    .separator-2 {
      left: -110px;
    }

    .separator-3 {
      left: -220px;
    }
  }

  .separator-container-2 {
    img {
      transform-origin: 0;
      transform: scaleX(0.5);
    }

    .separator-2 {
      left: -110px;
    }

    .separator-3 {
      left: -220px;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 2vw;
  }
}
