@import "header";
@import "main_social_icons";
@import "section_1";
@import "section_2";
@import "clients";
@import "work";
@import "about";
@import "footer";

/*GOOGLE FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Inter&family=Poppins:wght@400;500;600&family=Rubik:wght@300;400;500&display=swap");

/*VARIABLES CSS*/

:root {
  --header-height: 3rem;

  /*Colors*/
  /*Color mode HSL( Hue, Saturation, Lightness*/

  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --text-color: white;
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*Font and typography*/

  --body-font: "Inter", sans-serif;
  --body-font-video: "Cormorant Garamond", serif;

  --big-font-size: 8rem;
  --h1-font-size: 7rem;
  --h2-font-size: 6rem;
  --h3-font-size: 5rem;
  --medium-font-size: 4rem;
  --normal-font-size: 3rem;
  --small-font-size: 2.4rem;
  --smaller-font-size: 1.6rem;
  --tiny-font-size: 1.4rem;

  /*Font weight*/

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*Margin Bottom*/

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*z index*/

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*BASE*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding-top: 72px; // stops the navbar to cover the sections titles
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
}

body {
  background-color: black;
  color: var(--text-color);
}

section {
  scroll-snap-align: start;
}

// h1,
// h2,
// h3 {
//   color: var(--title-color);
//   font-weight: var(--font-semi-bold);
// }
h1 {
  font-size: var(--h1-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-normal);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*LAYOUT*/

.container {
  width: 100%;
  padding: 0 5vw;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.home_container {
  position: relative;

  section {
    scroll-snap-type: y mandatory;
  }
}

.video_text_container {
  position: relative;
  padding: 10px 36px 10px 36px;
}

.secondary-video_text_container {
  position: relative;
  padding: 10px 20px 10px 20px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* SEPARATOR */

.separator-container-1 {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  position: relative;
  align-self: flex-start;

  .separator-1 {
    align-self: flex-end;
    position: relative;
  }

  .separator-2 {
    align-self: flex-end;
    position: relative;
    left: -5px;
  }

  .separator-3 {
    align-self: flex-start;
    position: relative;
    left: -10px;
    visibility: hidden;
  }
}

.separator-container-2 {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  padding-left: 5vw;

  .separator-1 {
    align-self: flex-end;
    position: relative;

  }

  .separator-2 {
    align-self: flex-end;
    position: relative;
    left: -5px;
  }

  .separator-3 {
    align-self: flex-start;
    position: relative;
    left: -10px;
    visibility: hidden;
  }
}

.separator-container-1:hover,
.separator-container-2:hover {
  .separator-3 {
    visibility: visible;
    animation: expand 1000ms forwards;
    transform-origin: left;
  }
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* SCROLL-SNAP */

// .mandatory-scroll-snapping {
//   scroll-snap-type: y mandatory;
// }

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 900px) {
  .separator-container-1 {
    img {
      scale: 0.8;
    }

    // .separator-1 {
    //   left: -15px;
    // }

    // .separator-2 {

    // }

    // .separator-3 {

    // }
  }

  .separator-container-2 {
    img {
      scale: 0.8;
    }
  }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 2vw;
  }
}
